:root {
    --color-dark1: #181818;
    --color-dark2: #1e1e1e;
    --color-purple2: indigo;
    --color-orange: coral;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--color-dark1);
    color: white;
}

.content {
    max-width: 1100px;
    width: 100%;
    margin: 25px auto;
    margin-bottom: 2px;
    display: flex;

}

.mostrador {
    width: 100%;
    transition: .5s ease;

}

.mostrador .fila {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

}

.mostrador .fila .item {
    max-width: 210px;
    padding: 30px;
    height: 380px;
    text-align: center;
    padding-bottom: 280px;
    line-height: 1.3;
    margin: 0px 10px;
    cursor: pointer;
    border: 3px solid transparent;
    border-radius: 5px;
    transition: border-color .3s;

    /* Adicione as seguintes propriedades */
    box-sizing: border-box;
    /* Certifique-se de que a borda esteja incluída no tamanho total do elemento */
    overflow: hidden;
    /* Ocultar qualquer conteúdo que exceda as dimensões do elemento */



}




.mostrador .fila .item:hover {
    background-color: var(--color-dark2);
    border-color: var(--color-purple2);


}

.mostrador .fila .item:hover,
.mostrador .fila .item:focus {
    border-color: var(--color-purple2);
    /* Definir a cor da borda quando o mouse estiver sobre o elemento */
}

.mostrador .fila .item img {
    width: 100%;
    margin-bottom: 20px;
    visibility: visible;
    margin: 0px 0;
}

.mostrador .fila .item .descricao {
    color: white;
    visibility: visible;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

.mostrador .fila .item .preço {
    visibility: visible;
    font-weight: bold;
    font-size: 20px;
    color: var(--color-orange);
}

.selecao {
    transition: .5s ease;
    opacity: 0;
    width: 0%;
    border-radius: 10px;
    border: 3px solid var(--color-dark2);
    position: relative;
    display: flex;
    margin-left: 20px;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    height: fit-content;

}

.fechar {
    position: absolute;
    right: 0;
    top: 20px;
    cursor: pointer;
}

.info {
    padding: 20px;
}

.info img {
    display: block;
    margin: 30px;
    width: 80%;
}

.info h2 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 10px;
}

.info p {
    font-size: 14px;
    color: #cbcbcb;
    line-height: 1.5;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 10px;
}

.info .preço {
    font-size: 30px;
    font-weight: bold;
    color: var(--color-orange);
    margin-bottom: 10px;
    display: block;
}


/* Centralizar e configurar o botão de envio */
.botao {
    display: block;
    margin: 30px 10px 30px;
    /* width: 200px; Ajuste a largura conforme necessário */
    /*    height: 50px; Ajuste a altura conforme necessário */
    font-size: 30px;
    /* Ajuste o tamanho da fonte conforme necessário */
    background-color: indigo;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 3px;

}

button:hover {
    background-color: rgb(140, 30, 218);
}